@charset "utf-8";
/* CSS Document */

@media (max-width:8.5in) {
	:root {
		font-size:18px;
	}
/* ----------- tags ------------------ */			
	article {
		grid-template-columns:1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
	}
	

	.div-center p {
    	font-size:16pt !important;
	}
			
	footer p {
		font-size:16pt !important;
	}		
/* ----------- tags ------------------ */
/* ---------- classes ---------------- */
	.datazul-blog p img {
		width:150px !important;
	}
/* ---------- classes ---------------- */
	
}

@media (max-width:10.312498700787in){
	.bx-wrapper .bx-prev {
	  left: -3% !important;
	}
	
	.bx-wrapper .bx-next {
	  right: -5% !important;
	}
}

@media (max-width:5.0in) {
	:root {
		font-size:16pt;
	}
	
	.div-center p {
    	font-size:16pt !important;
	}
	
	footer p {
		font-size:16pt !important;
	}	
}