@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 500px) {
	
	#m-site-1 .top-menu .head-logo, 
	#m-site-1 .top-menu .head-nav  {
		margin-left:20px !important;
		margin-right:20px !important;
		width:calc(100% - 40px) !important;
	}	

	#m-site-1 .wrapper {
		margin-left:0 !important;
		margin-right:0 !important;
		width:100% !important;
	}

	#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div p {
		padding-left:20px !important;
		padding-right:20px !important;
	}

}

@media screen and (max-width: 600px) {
	  
		  #m-site-1 .bottom-footer p {
			  font-size:24px !important;
		  }

		.column {
			width:100% !important;
		}
	
		.LightBox {
			padding-left:10px !important;
			padding-right:10px !important;
		}

}

@media screen and (max-width: 800px) {

	.galacolumn {
		-ms-flex:100% !important;
		flex:100% !important;
		max-width:100% !important;
	  }

}

@media screen and (max-width: 989px) {

	#m-site-1 .top-menu {
		height:auto;
	}
	
			#m-site-1 .top-menu .head-logo p {
				font-size:20pt;
				padding-top:0;
				padding-bottom:0;
			}
	
				#m-site-1 .top-menu .head-logo p img {
					width:175px;
				}
	
			#m-site-1 .top-menu .head-logo .dropbtn {
				width:100px;
				height:60px;
				background:url("../img/drop-down-nav_mobile.png") no-repeat right;
				background-size:21px 24px;
				cursor:pointer;
				border:none;
				outline:none;
				float:right;
			}
	
				#m-site-1 .leftnav-nav-content ul {
					float:left;
					width:100%;
				}

				#m-site-1 .top-menu .head-nav ul {
					float:left !important;
				}
	
					#m-site-1 .top-menu .head-nav ul li {
						margin-left:0;
						margin-right:20px;
						width:100%;
					}
	
						#m-site-1 .top-menu .head-nav ul li a {
							height:40px;
							line-height:40px;
							width:100%;
							cursor:pointer;
						}
	
									#m-site-1 .top-menu .head-nav ul li .nav-content ul li a {
										width:100%;
										cursor:pointer;
										height:30px !important;
										line-height:20px !important;
										margin-left:-20px;
									}
	
		#m-site-1 .top-menu .head-logo, 
		#m-site-1 .top-menu .head-nav  {
			margin-left:40px;
			width:calc(100% - 80px);
			float:left;
			height:auto;
		}	
	
		#m-site-1 .head-nav  {
			padding-top:0 !important;
			padding-bottom:10px !important;
			display:none;
		}
	
		#m-site-1 .show {
			display:block !important;
		}

						#m-site-1 .top-menu .head-nav ul li .nav-content {
							display:none !important;
						}

	#m-site-1 .wrapper {
		margin-left:20px;
		margin-right:20px;
		width:calc(100% - 40px);
	}

		#m-site-1 .wrapper .content {
			padding-top:50px;
		}

					#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div {
						padding-top:0;
					}

						#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div p {
							padding-top:50px;
						}

	.galacolumn {
		margin-top:0;
	}

	.column {
		width:50%;
	}
	
	.rowLight .column {
		width:33.33%;
	}
	
	.LightBox, .content {
		padding-top:80px;
		padding-left:40px;
		padding-right:40px;
	}
	
	.container {
		padding-top:80px;
	}
	
	.col-25, .col-75, input[type=submit] {
		width:100%;
		margin-top:0;
	}
	
}

@media only screen and (min-width: 989px) {

			#m-site-1 .top-menu .head-logo .dropbtn {
				display:none;
			}
			
			.column {
				width:33.33%;
			}
			
			.rowLight .column {
				width:33.33%;
			}

}

@media only screen and (min-width: 989px) and (max-width: 1365px) {

	#m-site-1 .top-menu .head-logo {
		margin-left:40px;
		width:calc(35% - 40px);
	}

	#m-site-1 .top-menu .head-nav {
		margin-right:40px;
		width:calc(65% - 40px);
	}	

	#m-site-1 .wrapper {
		margin-left:40px;
		margin-right:40px;
		width:calc(100% - 80px);
	}

}

@media screen and (max-width: 1365px) {
				#m-site-1 .top-menu .head-nav ul {
					font-size:20px;
					float:right;
				}
	
							#m-site-1 .top-menu .head-nav ul li .nav-content ul {
								font-size:14px;
							}
	
		#m-site-1 .bottom-footer p {
			font-size:22pt;
		}
}

@media screen and (min-width: 1365px) {

	.row > .column {
		padding-top:0;
		padding-right:4px;
		padding-bottom:4px;
		padding-left:4px;
	}

.LightBox, .content {
	padding-top:150px;
	padding-left:50px;
	padding-right:50px;
}

}