@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 800px) {
   .galacolumn {
	 -ms-flex:50%;
	 flex:50%;
	 max-width:50%;
   }
}

@media screen and (max-width: 600px) {
  .galacolumn {
	-ms-flex:100%;
    flex:100%;
    max-width:100%;
    margin-top:0;
  }
	
		#m-site-1 .bottom-footer p {
			font-size:14pt !important;
		}
}

@media screen and (max-width: 989px) {
	#m-site-1 .top-menu {
		height:auto;
	}
	
			#m-site-1 .top-menu .head-logo p {
				font-size:24pt;
				padding-top:0;
				padding-bottom:0;
			}

		#m-site-1 .top-menu .head-logo {
			width:calc(100% - 40px) !important;
		}
	
				#m-site-1 .top-menu .head-logo p img {
					width:175px;
				}
	
			#m-site-1 .top-menu .head-logo .dropbtn {
				width:100px;
				height:120px;
				background:url("../img/drop-down-nav_mobile.png") no-repeat center;
				cursor:pointer;
				border:none;
				float:right;
			}
	
				#m-site-1 .top-menu .head-nav ul {
					float:left;
					width:100%;
				}
	
					#m-site-1 .top-menu .head-nav ul li {
						margin-left:0;
						margin-right:20px;
						width:100%;
					}
	
						#m-site-1 .top-menu .head-nav ul li a {
							height:40px;
							line-height:40px;
							width:100%;
							cursor:pointer;
						}
	
									#m-site-1 .top-menu .head-nav ul li .nav-content ul li a {
										width:100%;
										cursor:pointer;
										height:20px !important;
										line-height:20px !important;
									}
	
		#m-site-1 .top-menu .head-logo, 
		#m-site-1 .top-menu .head-nav  {
			margin-left:40px;
			margin-right:40px !important;
			width:calc(100% - 80px) !important;
			float:left;
			height:auto;
		}	
	
		#m-site-1 .head-nav  {
			padding-top:25px !important;
			padding-bottom:50px !important;
			display:none;
		}
	
		#m-site-1 .show {
			display:block !important;
		}

						#m-site-1 .top-menu .head-nav ul li .nav-content {
							position:static;
							width:100%;
							margin0left:0;
						}

	
  .galarow {
	padding-top:120px;
	padding-right:0;
	padding-left:0;
	margin-bottom:4px;
  }
	
/* -------------------- CONTACT FORM --------------------------- */
	
.container {
  	padding-top:130px;
  	padding-bottom:50px;
}
	
  .col-25, .col-75, input[type=submit] {
    width:100%;
    margin-top:0;
  }
	
/* -------------------- CONTACT FORM --------------------------- */
}

@media only screen
and (min-width: 990px) {
	
			#m-site-1 .top-menu .head-logo .dropbtn {
				display:none;
			}
	
	.galacolumn {
	  margin-top:100px;
	}
}

@media screen and (max-width: 1365px) {
		#m-site-1 .top-menu .head-logo {
			margin-left:40px;
			width:calc(35% - 40px);
		}
	
		#m-site-1 .top-menu .head-nav {
			margin-right:40px;
			width:calc(65% - 40px);
		}	

	#m-site-1 .wrapper {
		margin-left:40px;
		margin-right:40px;
		width:calc(100% - 80px);
	}
				#m-site-1 .top-menu .head-nav ul {
					font-size:20px;
				}
	
							#m-site-1 .top-menu .head-nav ul li .nav-content ul {
								font-size:14px;
							}
	
		#m-site-1 .bottom-footer p {
			font-size:20pt;
		}
}