@charset "utf-8";
/* CSS Document */

* {
  	box-sizing:border-box;
}

html {
  	scroll-behavior:smooth;
}

body {
	margin:0;
	padding:0;
	background:#a8bcd0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	font-family:'Open Sans',sans-serif;
	overflow-x:hidden;
}

#m-site-1 {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	position:absolute;
}

	#m-site-1 .top-menu {
		background:#f3f3f3;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		margin:0 auto;
		width:100%;
		height:100px;
		padding:0;
		position:fixed;
		display:block;
		z-index:5;
	}
	
		#m-site-1 .top-menu .head-logo {
			margin:0 0 0 100px;
			padding:0;
			width:calc(35% - 100px);
			height:100px;
			float:left;
			display:table;
		}
		
			#m-site-1 .top-menu .head-logo p {
				font-family:'Open Sans',sans-serif;
				font-size:36pt;
				text-transform:uppercase;
				vertical-align:middle;
				display:table-cell;	
				margin:0;
				padding:0;
			}

				#m-site-1 .top-menu .head-logo p a {
					text-decoration:none;
					color:#6A85BE;
				}
			
		#m-site-1 .top-menu .head-nav {
			margin:0 100px 0 0;
			padding:0;
			width:calc(65% - 100px);
			height:100px;
			float:left;
		}
			
				#m-site-1 .top-menu .head-nav ul {
					font-family:'Open Sans',sans-serif;
					font-size:24px;
					text-transform:uppercase;
					margin:0;
					padding:0;
					float:right;
				}
				
					#m-site-1 .top-menu .head-nav ul li {
						float:left;
						margin:0 0 0 20px;
						list-style-type:none;
						padding:0;
						position:relative;
					}
					
						#m-site-1 .top-menu .head-nav ul li a {
							display:inline-block;
							padding:0;
							height:100px;
							line-height:100px;
							color:#6A85BE;
							text-decoration:none;
						}

							#m-site-1 .top-menu .head-nav ul li:hover .nav-content {
								display:block;
							}

								#m-site-1 .top-menu .head-nav ul li:hover > a {
									color:#6A85BE;
								}

						#m-site-1 .top-menu .head-nav ul li .nav-content {
							display:none;
							position:absolute;
							list-style-type:none;
							width:140px;
							margin:0 0 0 -20px;
							padding:5px 0 0 0;
							top:100px;
							overflow:hidden;
							background:#f3f3f3;
							-webkit-appearance:none;
							-moz-appearance:none;
							appearance:none;
						}

							#m-site-1 .top-menu .head-nav ul li .nav-content ul {
								font-size:16px;
								margin:0;
								padding:10px;
								float:left;
							}

								#m-site-1 .top-menu .head-nav ul li .nav-content ul li {
									float:none;
									margin:10px;
									padding:0;
									line-height:30px;
								}

									#m-site-1 .top-menu .head-nav ul li .nav-content ul li a {
										margin:0;
										padding:0;
										height:auto;
										line-height:normal;
									}

									#m-site-1 .top-menu .head-nav ul li .nav-content ul li a:hover {
										color:#6A85BE;
									}

	#m-site-1 .wrapper {
		background:#6A85BE;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		margin:0 100px;
		width:calc(100% - 200px);
		height:auto;
		overflow:hidden;
		padding:0;
	}

		#m-site-1 .wrapper .top-content {
			background:#fff;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			margin:0 auto;
			padding:0;
			width:100%;
			height:400px;
			float:left;
		}

		#m-site-1 .wrapper .content {
			background:#6A85BE;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			margin:0 auto;
			padding:100px 0 0;
			width:100%;
			height:auto;
			float:left;
		}

			#m-site-1 .wrapper .content .bxslider .slide-bg {
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
			}

				#m-site-1 .wrapper .content .bxslider .slide-bg img {
					margin:0 auto;
					padding:0;
					position:absolute;
					z-index:1;
				}

				#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div {
					width:100%;
					height:auto;
					margin:0 auto;
					padding:100px 0 0;
					background:#6A85BE;
					-webkit-appearance:none;
					-moz-appearance:none;
					appearance:none;
					position:relative;
					display:table;
					z-index:2;
				}

					#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div p {
						font-family:'Open Sans',sans-serif;
						font-size:16px;
						vertical-align:middle;
						display:table-cell;	
						margin:0;
						padding:0 50px;
					}

						#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div p span:first-child {
							font-size:20pt;
							text-transform:uppercase;
							font-weight:bold; 
							display:block;
							margin:0 auto 20px;
							padding:0;
						}

						#m-site-1 .wrapper .content .bxslider .slide-bg .slide-div p span:last-child {
							font-size:1.2rem;
							display:block;
							padding:0;
						}

		#m-site-1 .wrapper .end-content {
			background:#fff;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			margin:0 auto;
			padding:0;
			width:100%;
			height:auto;
			float:left;
		}

		.bx-controls-direction {
			display:none;
		}

	.header {
		text-align:center;
		padding:32px;
	}

	.galarow {
		display:-ms-flexbox; /* IE10 */
		display:-webkit-box;
		display:-webkit-flex;
		display:flex;
		-webkit-flex-wrap:wrap;
		-ms-flex-wrap:wrap; /* IE10 */
		-o-flex-wrap:wrap;
		flex-wrap:wrap;
		margin:0;
		padding:2px;
		background:#f3f3f3;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		-webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
	}

	.galacolumn {
		-ms-flex:33.33%; /* IE10 */
		flex:33.33%;
		max-width:33.33%;
		padding:0;
		margin:0;
		background:#f3f3f3;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
	}

	.galacolumn img {
		padding:2px;
		vertical-align:middle;
		cursor:pointer;
	}

	input[type=text], input[type=tel], input[type=email], select, textarea {
		width:100%;
		padding:12px;
		border:2px solid #f3f3f3;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		resize:vertical;
		font-family:'Open Sans',sans-serif;
		outline:none;
		background:#6A85BE;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		color:#f3f3f3;
		font-size:1.2rem;
	}

	textarea {
		overflow-y:hidden;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color:#f3f3f3;
		opacity:1; /* Firefox */
	}
	
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:#f3f3f3;
	}
	
	::-ms-input-placeholder { /* Microsoft Edge */
		color:#f3f3f3;
	}

	label {
		padding:12px 12px 12px 0;
		display:inline-block;
		font-family:'Open Sans',sans-serif;
		color:#f3f3f3;
		font-size:1.2rem;
		text-transform:uppercase;
		font-weight:600;
	}

	input[type=submit] {
		background:#6A85BE;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		color:#f3f3f3;
		padding:12px 20px;
		border-style:solid;
		border-color:#f3f3f3;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		cursor:pointer;
		float:right;
		font-family:'Open Sans',sans-serif;
		text-transform:uppercase;
		transition:0.3s ease;
		font-weight:bold;
		font-size:1.2rem;
	}

	input[type=submit]:hover {
		background:#f3f3f3;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		color:#6A85BE;
		outline:none;
	}

	.container {
		background-color:#6A85BE;
		padding:124px 20px 0;
	}

	.col-25 {
		float:left;
		width:25%;
		margin:6px 0 0 0;
	}

	.col-75 {
		float:left;
		width:75%;
		margin:6px 0 0 0;
	}

	.row:after {
		content:"";
		display:table;
		clear:both;
	}


	.share {
		display:-webkit-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		justify-content:center;
		padding:1.5rem;
	}

		.share a {
			box-shadow:inset 0 -0.25em #f3f3f3;
		}
				
		.share img {
			padding:0.75rem;
			width:auto;
			height:4.5em;
			margin:20px 0;
		}

	.back-to-top p {
		text-align:center;
		color:#f3f3f3;
		font-weight:bold;
		margin:0 auto;
		padding:0 0 2.5rem;
		font-size:1.2rem;
	}

		.back-to-top p a {
			box-shadow:none;
			text-decoration:none;
			color:#f3f3f3;
		}

	#m-site-1 .bottom-footer {
		background:#f3f3f3;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
		width:100%;
		height:100px;
		float:left;
		margin:auto;
		padding:0;
		display:table;
	}

		#m-site-1 .bottom-footer p {
			font-family:'Open Sans',sans-serif;
			font-size:24pt;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
			margin:0;
			padding:0 60px;
			vertical-align:middle;
			display:table-cell;
		}

			#m-site-1 .bottom-footer p a {
				color:#6A85BE;
				text-decoration:none;
			}

			.row {
				padding:0;
			}
			
			.light {
				display:none;
				margin:0 auto;
				padding:0 20px 30px;
				width:100%;
				height:auto;
				float:left;
			}
			
			.rowLight {
				padding:0;
				background-color:rgba(243,243,243,0.8);
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
				float:left;
			}
			
			.row > .column {
				padding:8px;
			}
			
			.row:after {
				content:"";
				display:table;
				clear:both;
			}
			
			.column {
				float:left;
			}
			
			.rowLight .column {
				margin:0;
				padding:0 2px;
			}
			
			video {
				width:100%;
				max-width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
			}
			
			.LightBox {
				padding:102px 0 20px 0;
				float:left;
				background-color:rgba(243,243,243,0.8);
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
			}
			
				.LightBox p {
					margin:20px auto;
					padding:0;
					text-align:center;
					font-size:36px;
				}
			
			.modal {
				display:none;
				position:fixed;
				z-index:5;
				padding:50px 0 0;
				left:0;
				top:0;
				width:100%;
				height:100%;
				overflow-y:scroll;
				background-color:rgba(243,243,243,0.8);
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
			}
			
			.modal::-webkit-scrollbar {
				display:none;
			}
			
			.modal {
				-ms-overflow-style:none;
				scrollbar-width:none; 
			}
			
			.modal-content {
				position:relative;
				margin:auto;
				padding:0;
				width:100%;
				max-width:990px;
			}
			
			.close {
				color:#6A85BE;
				position:absolute;
				top:-5px;
				right:10px;
				font-size:35px;
				font-weight:bold;
				transition:0.3s ease;
			}
			
			.close:hover,
			.close:focus {
				color:#1a1a1a;
				text-decoration:none;
				cursor:pointer;
			}
			
			.mySlides {
				width:90%;
				margin:0 auto;
				display:none;
			}
			
			.cursor {
				cursor:pointer;
			}
			
			.prev,
			.next {
				cursor:pointer;
				position:absolute;
				top:45%;
				width:auto;
				padding:16px;
				margin-top:-50px;
				color:white;
				font-weight:bold;
				font-size:20px;
				transition:0.6s ease;
				-webkit-border-radius:0 3px 3px 0;
				-moz-border-radius:0 3px 3px 0;
				border-radius:0 3px 3px 0;
				user-select:none;
				-webkit-user-select:none;
			}
			
			.prev {
				margin-left:5%;
			}
			
			.next {
				right:0;
				-webkit-border-radius:3px 0 0 3px;
				-moz-border-radius:3px 0 0 3px;
				border-radius:3px 0 0 3px;
				margin-right:5%;
			}
			
			.prev:hover,
			.next:hover {
				background-color:rgba(0, 0, 0, 0.8);
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
			}
			
			.numbertext {
				color:#f3f3f3;
				font-size:12px;
				padding:8px 12px;
				position:absolute;
				top:0;
			}
			
			img {
				margin:0;
				padding:0;
			}
			
			.caption-container {
				text-align:center;
				padding:2px 16px 50px;
				color:#f3f3f3;
			}
			
				#caption {
					color:#000;
				}
			
			
			.demo {
				opacity:0.6;
				transition:0.3s ease;
			}
			
			.active,
			.demo {
				transition:0.3s ease;
			}
			
			.active,
			.demo:hover {
				opacity:1;
			}
			
			img.hover-shadow {
				transition:0.3s;
			}
			
			.hover-shadow:hover {
				box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}