/* CSS Responsive */

/* @media Rule to 750px --- the device screen for mobile --- */
@media only screen 
and (max-width: 750px) {
	
/* ----------- fixed-menu logo --------------- */
		.fixed-menu .logo {
			width:100% !important;
			height:100px;
		}
	
			.fixed-menu .logo p {
				padding-left:20px;
			}
	
			.fixed-menu .logo .dropbtn {
				width:100px;
				height:120px;
				background:url("../img/drop-down-nav_mobile.png") no-repeat center;
				cursor:pointer;
				border:none;
				float:right;
				display:block;
			}
	
/* ----------- fixed-menu navigation --------------- */
		.fixed-menu .navigation {
			width:100% !important;
			height:auto;
			padding-top:20px;
			display:none;
		}
	
		.fixed-menu .show {
			display:block !important;
		}
	
			.fixed-menu .navigation ul {
				margin-top:0 !important;
				margin-right:0;
				margin-left:15px;
				float:left;
			}
	
				.fixed-menu .navigation ul li {
					width:100%;
					float:left;
					margin-bottom:20px;
					text-align:left;
				}
	
				.fixed-menu .navigation ul span {
					display:none;
				}
	
	.flip-box {
	  	width:100%;
		height:250px;
	}
	
/* -------------------- CONTACT FORM --------------------------- */
.container {
  	padding-top:130px;
  	padding-bottom:50px;
}
	
  .col-25, .col-75, input[type=submit] {
    width:100%;
    margin-top:0;
  }
/* -------------------- CONTACT FORM --------------------------- */
	
}

/* Mobile */
@media only screen 
and (max-width: 1130px) {
	
/* ----------- fixed-menu logo --------------- */
		.fixed-menu .logo {
			width:25%;
		}
	
/* ----------- fixed-menu logo --------------- */
			.fixed-menu .logo p {
				font-size:30px !important;
			}

/* ----------- fixed-menu navigation --------------- */	
		.fixed-menu .navigation {
			width:75%;
		}
			.fixed-menu .navigation ul {
				font-size:22px !important;
				margin-top:60px;
			}
	
/* ----------- footer --------------- */
		.footer p {
			font-size:22px !important;
		}
	
}

/* Turn off parallax scrolling for small devices... */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment:scroll;
	}
}