@charset "utf-8";
/* Cris M - Responsive version 1.03 */

/* @media Rule to 480px --- the device screen for mobile --- */
@media only screen 
and (max-width: 479px) {

			/* slide default */
					#datazul .self_expression .slide_default .foto_default p img {
						width:80% !important;
					}

			/* work image */		
			#datazul .my_works .work_image p {
				font-size:18pt !important;
			}

				/* work descr */			
				#datazul .my_works .work_descr p span:first-child {
					font-size:26pt !important;
				}
				
				#datazul .my_works .work_descr p span:last-child {
					font-size:13pt !important;
				}
				
				/* about myself */
				#datazul .about_myself p span:first-child {
					font-size:26pt !important;
				}
				
				#datazul .about_myself p span:last-child {
					font-size:13pt !important;
				}
				
		/* get in touch */	
		#datazul .get_in_touch p {
			font-size:26pt !important;
		}
		
			#datazul .get_in_touch .div-responsive .sub-heading-1 {
				font-size:20pt !important;
			}
			
			#datazul .get_in_touch .div-responsive .sub-heading-2 {
				font-size:12pt !important;
			}
			
			#datazul .get_in_touch .div-responsive ul{
				font-size:10pt !important;
			}
			
				#datazul .get_in_touch .request p {
					font-size:14pt !important;
				}
		
			/*#datazul .get_in_touch form input {
				font-size:11pt !important;
			}
			
			#datazul .get_in_touch form textarea {
				font-size:11pt !important;
			}	
			
				#datazul .get_in_touch form input[type=submit] {
					font-size:18pt !important;
				}*/	
				
		/* footer*/
		#datazul .footer p {
			font-size:14pt !important;
		}
	
}

/* @media Rule to 990px --- the device screen for mobile --- */
@media only screen 
and (max-width: 989px) {
	
		/* navigational list */
		#datazul .nav-list {
			width:100px;
		}
		
		/* navigational list - dropdown button in mobile layout */
		#datazul .nav-list .dropbtn {
			width:100px;
			height:120px;
			background:url("../img/drop-down-nav_mobile.png") no-repeat center;
			cursor:pointer;
			border:none;
		}
	
		#datazul .nav-list ul {
			display:none;
		}
		
		/* navigational list in mobile layout */
		#datazul .nav-list_mobile {
			width:100%;
			height:auto;
			float:left;
			margin:0;
			padding:0;
			top:120px;
			left:0;
			display:none;
			position:absolute;
			z-index:1;
			background:#f3f3f3;
		}
		
		/* navigational list - show animation */
		#datazul .show {
			display:block !important;
		}
		
			/* navigational list in mobile layout */
			#datazul .nav-list_mobile ul {
				margin:0;
				padding:10px 0 10px 20px;
			}
		
				#datazul .nav-list_mobile ul li {
					display:block;
					margin:0;
					padding:10px 0;
					font-family:"Ebrima", Arial, Helvetica, sans-serif;
					font-size:14pt;
					color:#6986bf;
					list-style-type:none;
					text-transform:uppercase;
				}
				
					#datazul .nav-list_mobile ul li a {
						text-decoration:none;
						color:#6986bf;
					}
		
		/* logo selection */
		#datazul .logo-select {
			width:200px;
		}
		
			#datazul .logo-select p  {
				font-size:24pt;
			}

	/* self expression */
	#datazul .self_expression {
		height:100%;
	}
	
		/* slide default */
			#datazul .self_expression .slide_default .para_default {
				display:none !important;
			}
	
			#datazul .self_expression .slide_default .foto_default {
				width:100% !important;
				height:auto;
				float:left;
				margin:0;
				padding:0;
			}
	
					#datazul .self_expression .slide_default .foto_default p img {
						width:450px;
						height:auto;
						margin:0 auto;
						padding:0;
						float:none !important;
					}
	
			#datazul .self_expression .slide_default .mobile_default {
				width:100%;
				height:auto;
				float:left;
				margin:auto;
				padding:0;
				position:relative;
				display:table !important;
			}
	
				#datazul .self_expression .slide_default .mobile_default p {
					font-size:12pt;
					font-family:"Ebrima", Arial, Helvetica, sans-serif;
					font-weight:bold;
					font-style:italic;
					color:#2e2e2e;
					text-align:center;
					margin:0;
					padding:30px;
					vertical-align:middle;
					display:table-cell;
					animation: fadein 3s;
					-moz-animation: fadein 3s; /* Firefox */
					-webkit-animation: fadein 3s; /* Safari and Chrome */
					-o-animation: fadein 3s; /* Opera */
				}
			
	/* my works */
	#datazul .my_works {
		padding-top:0;
		background:#f3f3f3;
	}
			
		/* work image */
		#datazul .my_works .work_image {
			width:100%;
			height:auto;
			margin-top:120px;
		}
		
			#datazul .my_works .work_image p {
				padding-top:60px;
				padding-left:30px;
				padding-bottom:60px;
			}
			
			/* work description */
			#datazul .my_works .work_descr p {
				padding-top:30px;
				padding-left:30px;
				padding-bottom:60px;
			}
			
				#datazul .my_works .work_descr p span:first-child {
					margin-top:30px;
					margin-bottom:30px;
				}

		/* work descr */
		#datazul .my_works .work_descr {
			width:100%;
			height:auto;
		}
		
	/* about myself */
	#datazul .about_myself {
		height:auto;
		padding-bottom:120px;
	}
	
			#datazul .about_myself p {
				width:calc(100% - 60px);
				padding-top:30px;
				padding-left:30px;
				padding-bottom:0;
				padding-right:30px;
				display:block;
			}
			
				#datazul .about_myself p span:first-child {
					margin-top:30px;
					margin-bottom:30px;
				}

	/* get in touch */
	#datazul .get_in_touch {
		height:auto;
	}
	
		#datazul .get_in_touch .div-responsive {
			width:calc(100% - 60px) !important;
			padding-top:30px;
			padding-left:30px;
			padding-bottom:0;
			padding-right:30px;
			display:block;
		}	
		
			#datazul .get_in_touch .div-responsive .sub-heading-1 {
				margin-left:0;
			}
			
			#datazul .get_in_touch .div-responsive .sub-heading-2 {
				margin-left:0;
			}
			
			#datazul .get_in_touch .div-responsive ul{
				margin-left:15px;
			}
			
		#datazul .get_in_touch .request {
			width:calc(100% - 64px) !important;
			margin-left:30px !important;	
			margin-right:30px !important;
		}

/*----------------------------------- CONTACT PROCESS PAGE ----------------------------------*/	

	/* contact process */
	#datazul .contact_process {
		padding-top:50px;
		padding-bottom:50px;
	}
	
		#datazul .contact_process p {
			padding-left:30px;
			padding-right:30px;
		}
		
				#datazul .contact_process p span:first-child {
					font-size:26pt !important;
				}
				
				#datazul .contact_process p span:last-child {
					font-size:13pt !important;
				}
	
}

@media only screen
and (min-width: 990px) {
	
	
		/* navigational list - dropdown button in mobile layout */
		#datazul .nav-list .dropbtn {
			display:none;
		}
}


/* @media Rule to 1366px --- the device screen for tablet --- */
@media only screen 
and (max-width: 1365px) {
	
			/* navigational list */
			#datazul .nav-list ul {
				font-size:20pt;
			}
	
			/* image block */
			#datazul .self_expression .slide_default .para_default {
				width:40%;
			}
	
				#datazul .self_expression .slide_default .para_default p {
					font-size:12pt;
					padding-left:40px;
					padding-right:0px;
				}
	
			#datazul .self_expression .slide_default .foto_default {
				width:60%;
			}

			/* work image */				
			#datazul .my_works .work_image p {
				font-size:29pt;
			}
			
				/* work descr */
				#datazul .my_works .work_descr p span:first-child {
					font-size:32pt;
				}
				
				#datazul .my_works .work_descr p span:last-child {
					font-size:14pt;
				}
				
				/* about myself */
				#datazul .about_myself p span:first-child {
					font-size:32pt;
				}
				
				#datazul .about_myself p span:last-child {
					font-size:14pt;
				}
				
		/* get in touch */
		#datazul .get_in_touch p {
			font-size:32pt;
		}
		
		#datazul .get_in_touch .div-responsive {
			width:100%;
		}
				
		#datazul .get_in_touch .request {
			width:calc(100% - 364px);
			margin-left:180px;	
			margin-right:180px;
		}
			
		/* footer*/
		#datazul .footer p {
			font-size:20pt;
		}
	
}