@charset "utf-8";
/* CSS Document */

@media (max-width:600px) {

	footer p {
		font-size:18px !important;
	}	

}

@media screen and (min-width:768px){

/* --------------- ShopCart ---------------- */
	
	.leftnav-nav-content {
		width:30vw;
		min-width:450px;
	}
	
	.shopcart-cart {
		width:30vw;
		min-width:450px;
	}
	
/* --------------- ShopCart ---------------- */
	
}