@charset "utf-8";
/* CSS Document */

@media screen and (max-width:768px) {

	.topsec-banner-title {
		font-size:2rem !important;
	}

	.leftnav-nav-content {
		width:299px !important;
		min-width:299px !important;
	}

	.shopcart-cart {
		width:299px !important;
		min-width:299px !important;
	}

	footer p {
		font-size:18px !important;
	}	

}

@media screen and (min-width:768px){
	
	.leftnav-nav-content {
		width:450px;
		min-width:450px;
	}
	
	.shopcart-cart {
		width:450px;
		min-width:450px;
	}
	
}