@charset "utf-8";
/* CSS Document */

body {
	-webkit-backface-visibility:hidden;
}

#section2{
	opacity:0;
	transform:translateX(-100%);
	-webkit-transition:opacity 0.5s linear, transform 0.5s linear;
	-moz-transition:opacity 0.5s linear, transform 0.5s linear;
	-ms-transition:opacity 0.5s linear, transform 0.5s linear;
	-o-transition:opacity 0.5s linear, transform 0.5s linear;
	transition:opacity 0.5s linear, transform 0.5s linear;
}

#section3{
	opacity:0;
	transform:translateX(-100%);
	-webkit-transition:opacity 0.5s linear, transform 0.5s linear;
	-moz-transition:opacity 0.5s linear, transform 0.5s linear;
	-ms-transition:opacity 0.5s linear, transform 0.5s linear;
	-o-transition:opacity 0.5s linear, transform 0.5s linear;
	transition:opacity 0.5s linear, transform 0.5s linear;
}

#section4{
	opacity:0;
	transform:translateX(-100%);
	-webkit-transition:opacity 0.5s linear, transform 0.5s linear;
	-moz-transition:opacity 0.5s linear, transform 0.5s linear;
	-ms-transition:opacity 0.5s linear, transform 0.5s linear;
	-o-transition:opacity 0.5s linear, transform 0.5s linear;
	transition:opacity 0.5s linear, transform 0.5s linear;
}

.visible {
	opacity:1 !important;
	transform:translateX(0%) !important;
	-webkit-transition:opacity 0.5s linear, transform 0.5s linear;
	-moz-transition:opacity 0.5s linear, transform 0.5s linear;
	-ms-transition:opacity 0.5s linear, transform 0.5s linear;
	-o-transition:opacity 0.5s linear, transform 0.5s linear;
	transition:opacity 0.5s linear, transform 0.5s linear;
}