@charset "utf-8";
/* CSS Document */

/* @media Rule to 630px --- the device screen for mobile --- */
@media only screen 
and (max-width: 630px) {
	
/* ----------- sticky-header logo --------------- */
		#top .sticky-header .logo {
			width:100%;
			height:100px;
		}
	
			#top .sticky-header .logo p {
				padding-left:20px;
			}
	
			#top .sticky-header .logo .dropbtn {
				width:100px;
				height:120px;
				background:url("../img/drop-down-nav_mobile.png") no-repeat center;
				cursor:pointer;
				border:none;
				float:right;
				display:block;
			}
	
/* ----------- sticky-header navigation --------------- */
		#top .sticky-header .navigation {
			width:100%;
			height:auto;
			padding-top:20px;
			display:none;
		}
	
		#top .sticky-header .show {
			display:block !important;
		}
	
			#top .sticky-header .navigation ul {
				margin-top:0 !important;
				margin-right:0;
				margin-left:15px;
				float:left;
			}
	
				#top .sticky-header .navigation ul li {
					width:100%;
					float:left;
					margin-bottom:20px;
				}
	
				#top .sticky-header .navigation ul span {
					display:none;
				}
	
}

/* Mobile */
@media only screen 
and (max-width: 990px) {
	
/* ----------- sticky-header logo --------------- */
			#top .sticky-header .logo p {
				font-size:26px !important;
			}

/* ----------- sticky-header navigation --------------- */		
			#top .sticky-header .navigation ul {
				font-size:22px !important;
				margin-top:60px;
			}
	
/* ----------- division div-1 --------------- */
/* ----------- division div-2 --------------- */
/* ----------- division div-3 --------------- */
/* ----------- division div-4 --------------- */
/* ----------- division div-5 --------------- */
/* ----------- division div-6 --------------- */
		#top .division .div-1,
		#top .division .div-2,
		#top .division .div-3, 
		#top .division .div-4, 
		#top .division .div-5, 
		#top .division .div-6 {
			width:calc(100% - 20px) !important;
			margin-top:10px !important;
			margin-left:10px !important;
			margin-bottom:10px !important;
			margin-right:10px !important;
			float:left !important;
		}
	
/* ----------- footer --------------- */
		#top .footer p {
			font-size:22px !important;
		}
	
}

/* Tablet --- */
@media only screen 
and (max-width: 1365px) {
	
/* ----------- division div-1 --------------- */
/* ----------- division div-2 --------------- */
/* ----------- division div-3 --------------- */
/* ----------- division div-4 --------------- */
/* ----------- division div-5 --------------- */
/* ----------- division div-6 --------------- */
		#top .division .div-1,
		#top .division .div-2,
		#top .division .div-3, 
		#top .division .div-4, 
		#top .division .div-5, 
		#top .division .div-6 {
			width:calc(50% - 30px);
			margin-top:15px;
			margin-left:15px;
			margin-bottom:15px;
			margin-right:15px;			
		}
	
/* ----------- division div-2 --------------- */
/* ----------- division div-4 --------------- */
		#top .division .div-2,
		#top .division .div-4 {
			height:630px;		
		}
	
}
