@charset "utf-8";
/* CSS Document */

@media screen and (min-width:768px){

/* --------------- ShopCart ---------------- */
	
	.leftnav-nav-content {
		width:30vw;
		min-width:450px;
	}
	
	.shopcart-cart {
		width:30vw;
		min-width:450px;
	}
	
/* --------------- ShopCart ---------------- */
	
		footer p {
			font-size:16px;
		}
	
}