@charset "utf-8";
/* CSS Document */

/* HTML */
html {
	scroll-behavior:smooth;
}

* {
  	box-sizing:border-box;
}

/* BODY */
body {
	margin:0;
	padding:0;
	font-family:'Lucida Sans',sans-serif;
	background:#fff;
	color:#1c3f01;
}

/* TOP */
#top {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
}

/* ----------- sticky-header --------------- */
	#top .sticky-header {
		background:#a7c151;
		margin:0 auto;
		width:100%;
		height:auto;
		padding:0;
		position:fixed;
		display:block;
		z-index:5;
	}

/* ----------- sticky-header logo --------------- */
		#top .sticky-header .logo {
			width:50%;
			height:150px;
			margin:0 auto;
			padding:0;
			float:left;
			display:table;
		}

			#top .sticky-header .logo p {
				font-size:36px;
				text-transform:uppercase;
				vertical-align:middle;
				display:table-cell;	
				margin:0;
				padding:0 0 0 40px;
			}

				#top .sticky-header .logo p a {
					text-decoration:none;
					color:#1c3f01;
				}

			#top .sticky-header .logo .dropbtn {
				display:none;
			}

/* ----------- sticky-header navigation --------------- */
		#top .sticky-header .navigation {
			width:50%;
			height:150px;
			margin:0 auto;
			padding:0;
			float:left;
		}
		
			#top .sticky-header .navigation ul {
				font-size:32px;
				color:#1c3f01;
				text-transform:uppercase;
				margin:50px 25px 0px 0;
				padding:0;
				float:right;
			}
			
				#top .sticky-header .navigation ul li {
					display:inline;	
					margin:0 5px;
					padding:0;
				}
				
					#top .sticky-header .navigation ul li a {
						text-decoration:none;
						color:#1c3f01;
					}

					#top .sticky-header .navigation ul li a:hover {
						color:#fff;
					}

/* ----------- division --------------- */
	#top .division {
		width:100%;
		height:auto;
		margin:0 auto;
		padding:150px 0 0;
		float:left;
	}

/* ---------- division fixed ----------- */
		#top .division .division-fixed {
			width:100%;
			height:auto;
			float:left;
		}

/* ----------- division div-1 --------------- */
			#top .division .division-fixed .div-1 {
				width:calc(75% - 50px);
				height:300px;
				margin:25px;
				padding:0;
				float:left;
				background:#a7c151;
			}

/* ----------- division div-2 --------------- */
			#top .division .division-fixed .div-2 {			
				width:calc(25% - 50px);
				height:650px;
				margin:25px;
				padding:0;
				float:right;
				background:#a7c151;
				display:table;
			}
				#top .division .division-fixed .div-2 ul {			
					vertical-align:middle;
					display:table-cell;
					font-size:14px;
					margin:0 auto;
					padding:0;
					text-align:center;
					list-style:none;
				}

				#top .division .division-fixed .div-2 span {			
					margin:0 0 0 -20px;
					padding:0;
					text-align:start;
				}

					#top .division .division-fixed .div-2 ul li {			
						margin:0 0 0 -20px;
						padding:15px 0 0 0;
					}

/* ----------- division div-3 --------------- */
			#top .division .division-fixed .div-3 {
				width:calc(75% - 50px);
				height:300px;
				margin:25px;
				padding:0;
				float:left;
				background:#a7c151;
			}

/* ----------- division div-4 --------------- */
			#top .division .division-fixed .div-4 {
				width:calc(25% - 50px);
				height:650px;
				margin:25px;
				padding:0;
				float:right;
				background:#a7c151;
				display:table;
			}

				#top .division .division-fixed .div-4 ul {			
					vertical-align:middle;
					display:table-cell;
					font-size:14px;
					margin:0 auto;
					padding:0;
					text-align:center;
					list-style:none;
				}

				#top .division .division-fixed .div-4 span {			
					margin:0 0 0 -20px;
					padding:0;
					text-align:start;
				}

					#top .division .division-fixed .div-4 ul li {			
						margin:0 0 0 -20px;
						padding:15px 0 0 0;
					}

/* ----------- division div-5 --------------- */
			#top .division .division-fixed .div-5 {
				width:calc(75% - 50px);
				height:300px;
				margin:25px;
				padding:0;
				float:left;
				background:#a7c151;
			}

/* ----------- division div-6 --------------- */
			#top .division .division-fixed .div-6 {
				width:calc(75% - 50px);
				height:300px;
				margin:25px;
				padding:0;
				float:left;
				background:#a7c151;
			}

/* ----------- content display -------------- */
			.division .content-display {
				width:75%;
				height:300px;
				display:table;
			}

				.division .content-display p {
					vertical-align:middle;
					display:table-cell;
					padding:0 5%;
					font-size:14px;
				}

/* FLOAT LEFT */

	.float-left {
		float:left;
	}

/* FLOAT RIGHT */

	.float-right {
		float:right;
	}

/* PADDING LEFT 20 */
	.padding-left-20 {
		padding-left:20px;
	}

/* PADDING RIGHT 20 */
	.padding-right-20 {
		padding-right:20px;
	}

/* ----------- image display -------------- */
			.division .image-display {
				width:25%;
				height:300px;
				display:table;
			}

				.division .image-display p {
					vertical-align:middle;
					display:table-cell;
				}

/* ----------- footer --------------- */
	#top .footer {
		width:100%;
		height:150px;
		margin:0 auto;
		padding:0;
		float:left;
		background:#a7c151;
		display:table;
	}

		#top .footer p {
			font-size:24px;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
			margin:0;
			padding:0 60px;
			vertical-align:middle;
			display:table-cell;
		}

			#top .footer p a {
				color:#fff;
				text-decoration:none;
			}