@charset "utf-8";
/* CSS Document */

html {
	scroll-behavior:smooth;
}

* {
  	box-sizing:border-box;
}

body {
  	margin:0;
  	padding:0;
	font-family:'Open Sans',sans-serif;
	overflow-x:hidden;
}

#m-site-2 {
	width:100%;
	height:auto;
	background:url("../img/img_background.png") no-repeat center;
	margin:0;
	padding:0;
	position:absolute;
	background-color:#DEE0DF;
}

	#m-site-2 .top-menu {
		background:#6A85BE;
		margin:0 auto;
		width:100%;
		height:100px;
		padding:0;
		position:fixed;
		display:block;
		z-index:5;
	}
	
		#m-site-2 .top-menu .head-logo {
			margin:0 0 0 100px;
			padding:0;
			width:calc(35% - 100px);
			height:100px;
			float:left;
			display:table;
		}
		
			#m-site-2 .top-menu .head-logo p {
				font-size:30pt;
				text-transform:uppercase;
				vertical-align:middle;
				display:table-cell;	
				margin:0;
				padding:0;
			}

				#m-site-2 .top-menu .head-logo p a {
					color:#f3f3f3;
					text-decoration:none;
				}

				#m-site-2 .top-menu .head-logo p a:hover {
					color:#f3f3f3;
				}
			
		#m-site-2 .top-menu .head-nav {
			margin:0 100px 0 0;
			padding:0;
			width:calc(65% - 100px);
			height:100px;
			float:left;
		}
			
				#m-site-2 .top-menu .head-nav ul {
					font-size:24px;
					text-transform:uppercase;
					margin:0;
					padding:0;
					float:right;
				}
				
					#m-site-2 .top-menu .head-nav ul li {
						margin:0 0 0 20px;
						list-style-type:none;
						display:inline-block;
						padding:0;
						position:relative;
					}
					
						#m-site-2 .top-menu .head-nav ul li a {
							display:inline-block;
							padding:0;
							height:100px;
							line-height:100px;
							color:#f3f3f3;
							text-decoration:none;
						}

							#m-site-2 .top-menu .head-nav ul li:hover .nav-content {
								display:block;
							}

								#m-site-2 .top-menu .head-nav ul li:hover > a {
									color:#f3f3f3;
								}

						#m-site-2 .top-menu .head-nav ul li .nav-content {
							display:none;
							position:absolute;
							list-style-type:none;
							width:140px;
							margin:0 0 0 -20px;
							padding:5px 0 0 0;
							top:100px;
							overflow:hidden;
							background:#6A85BE;
						}

							#m-site-2 .top-menu .head-nav ul li .nav-content ul {
								font-size:16px;
								margin:0;
								padding:10px;
							}

								#m-site-2 .top-menu .head-nav ul li .nav-content ul li {
									float:none;
									margin:10px;
									padding:0;
								}

									#m-site-2 .top-menu .head-nav ul li .nav-content ul li a {
										margin:0;
										padding:0;
										height:auto;
										line-height:normal;
									}

									#m-site-2 .top-menu .head-nav ul li .nav-content ul li a:hover {
										color:#f3f3f3;
									}

	#m-site-2 .wrapper {
		background:#f3f3f3;
		margin:0 100px;
		width:calc(100% - 200px);
		height:auto;
		overflow:hidden;
		padding:0;
	}

		#m-site-2 .wrapper .top-content {
			background:#f3f3f3;
			margin:0 auto;
			padding:0;
			width:100%;
			height:400px;
			float:left;
		}

		#m-site-2 .wrapper .content {
			background:#f3f3f3;
			margin:0 auto;
			padding:0;
			width:100%;
			height:auto;
			float:left;
		}

			#m-site-2 .wrapper .content .bxslider .slide-bg {
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
			}

				#m-site-2 .wrapper .content .bxslider .slide-bg img {
					margin:0 auto;
					padding:0;
					position:absolute;
					z-index:1;
				}

				#m-site-2 .wrapper .content .bxslider .slide-bg .slide-div {
					width:100%;
					height:auto;
					margin:0 auto;
					padding:50px 0;
					background:#f3f3f3;
					position:relative;
					display:table;
					z-index:2;
				}

					#m-site-2 .wrapper .content .bxslider .slide-bg .slide-div p {
						vertical-align:middle;
						display:table-cell;	
						margin:0;
						padding:100px 50px 0;
						color:#1a1a1a;
					}

						#m-site-2 .wrapper .content .bxslider .slide-bg .slide-div p .heading{
							font-size:20pt;
							text-transform:uppercase;
							font-weight:bold; 
							display:block;
							margin:0 auto 20px;
							padding:0;
						}

						#m-site-2 .wrapper .content .bxslider .slide-bg .slide-div p .paragraph {
							font-size:1.2rem;
							display:block;
							padding:0;
						}

		#m-site-2 .wrapper .end-content {
			background:#f3f3f3;
			margin:0 auto;
			padding:0;
			width:100%;
			height:auto;
			float:left;
		}

		.bx-controls-direction {
			display:none;
		}

	input[type=text], input[type=tel], input[type=email], select, textarea {
		font:1.2rem 'Open Sans', sans-serif;
		width:100%;
		padding:12px;
		border:1px solid #1a1a1a;
		border-radius:4px;
		resize:vertical;
	}

	label {
		font-size:1.2rem;
		padding:12px 12px 12px 0;
		display:inline-block;
		color:#1a1a1a;
		text-transform:uppercase;
		font-weight:600;
	}

	input[type=submit] {
		font:20px/1.2 'Open Sans', sans-serif;
		text-transform:uppercase;
		background:#6A85BE;
		color:#f3f3f3;
		padding:12px 20px;
		border-style:solid;
		border-color:#f3f3f3;
		border-radius:4px;
		cursor:pointer;
		float:right;
		transition:0.6s ease;
	}

	input[type=submit]:hover {
		border-color:#6A85BE;
		background:#f3f3f3;
		color:#6A85BE;
	}

	.container {
		padding:124px 50px 0;
	}

	.col-25 {
		float:left;
		width:25%;
		margin:6px 0 0 0;
	}

	.col-75 {
		float:left;
		width:75%;
		margin:6px 0 0 0;
	}

	.row:after {
		content:"";
		display:table;
		clear:both;
	}

	.share {
		display:flex;
		justify-content:center;
		padding:1.5rem;
	}

		.share a {
			box-shadow:inset 0 -0.25em #6986bf;
		}
				
		.share img {
			padding:0.75rem;
			width:auto;
			height:4.5em;
			margin:20px 0;
		}

	.back-to-top p {
		text-align:center;
		color:#6a86bf;
		font-weight:bold;
		margin:0 auto;
		padding:0 0 2.5rem;
		font-size:1.2rem;
	}

		.back-to-top p a {
			box-shadow:none;
			text-decoration:none;
			color:#6a86bf;
		}

	#m-site-2 .bottom-footer {
		background:#6A85BE;
		width:100%;
		height:100px;
		float:left;
		margin:auto;
		padding:0;
		display:table;
	}

		#m-site-2 .bottom-footer p {
			font-size:24pt;
			text-align:center;
			text-transform:uppercase;
			margin:0;
			padding:0 60px;
			vertical-align:middle;
			display:table-cell;
			font-weight:600;
		}

			#m-site-2 .bottom-footer p a {
				color:#f3f3f3;
				text-decoration:none;
			}

.row {
	padding:0;
}

.light {
	display:none;
	margin:0 auto;
	padding:0 20px 30px;
	width:100%;
	height:auto;
	float:left;
}

.rowLight {
	padding:0;
	background-color:rgba(243,243,243,0.8);
	float:left;
}

.row > .column {
  	padding:8px;
}

.row:after {
  	content:"";
  	display:table;
  	clear:both;
}

.column {
  	float:left;
}

.rowLight .column {
	margin:0;
	padding:0 2px;
}

video {
  	width:100%;
	max-width:100%;
  	height:auto;
	margin:0 auto;
	padding:0;
	border:none;
}

.LightBox {
	padding:102px 0 20px 0;
	float:left;
	background-color:rgba(243,243,243,0.8);
}

	.LightBox p {
		margin:20px auto;
		padding:0;
		text-align:center;
		font-size:36px;
	}

.modal {
  	display:none;
  	position:fixed;
  	z-index:5;
  	padding:50px 0 0;
  	left:0;
  	top:0;
  	width:100%;
  	height:100%;
  	overflow-y:scroll;
  	background-color:rgba(243,243,243,0.8);
}

.modal::-webkit-scrollbar {
    display:none;
}

.modal {
	-ms-overflow-style:none;
	scrollbar-width:none; 
}

.modal-content {
  	position:relative;
  	margin:auto;
  	padding:0;
  	width:100%;
  	max-width:990px;
}

.close {
  	color:#6A85BE;
  	position:absolute;
  	top:-5px;
  	right:10px;
  	font-size:35px;
  	font-weight:bold;
	transition:0.3s ease;
}

.close:hover,
.close:focus {
  	color:#1a1a1a;
  	text-decoration:none;
  	cursor:pointer;
}

.mySlides {
	width:90%;
	margin:0 auto;
  	display:none;
}

.cursor {
  	cursor:pointer;
}

.prev,
.next {
  	cursor:pointer;
  	position:absolute;
  	top:50%;
  	width:auto;
  	padding:16px;
  	margin-top:-50px;
  	color:white;
  	font-weight:bold;
  	font-size:20px;
  	transition:0.6s ease;
  	border-radius:0 3px 3px 0;
  	user-select:none;
  	-webkit-user-select:none;
}

.prev {
	margin-left:5%;
}

.next {
  	right:0;
  	border-radius:3px 0 0 3px;
	margin-right:5%;
}

.prev:hover,
.next:hover {
  	background-color:rgba(0, 0, 0, 0.8);
}

.numbertext {
  	color:#f3f3f3;
  	font-size:12px;
  	padding:8px 12px;
  	position:absolute;
  	top:0;
}

img {
  	margin:0;
	padding:0;
}

.caption-container {
  	text-align:center;
  	padding:2px 16px 50px;
  	color:#f3f3f3;
}

	#caption {
		color:#000;
	}


.demo {
  	opacity:0.6;
	transition:0.3s ease;
}

.active,
.demo {
	transition:0.3s ease;
}

.active,
.demo:hover {
  	opacity:1;
}

img.hover-shadow {
  	transition:0.3s;
}

.hover-shadow:hover {
  	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}