/* CSS Document */

@media (max-width: 800px) {
/* ----------- shopping cart --------------- */
  .shopping-cart {
    width:100%;
    height:auto;
    overflow:hidden;
  }
	
  .item {
    height:auto;
    flex-wrap:wrap;
    justify-content:center;
  }
	
  .image img {
    width:50%;
  }
	
  .image,
  .quantity,
  .description {
    width:100%;
    text-align:center;
    margin:6px 0;
  }
	
  .buttons {
    margin-right:20px;
  }
}


@media only screen and (max-width:980px) {
	.top-nav-bar {
		height:118px;
		border-bottom:0;
	}
	
	.search-box {
		width:100%;
	}
	
	.menu-bar {
		width:100%;
	}
	
		.menu-bar ul {
			margin:10px 0;
			width:100%;
			top:51px;
		}
	
			.menu-bar ul li {
				border-top:1px solid #fff;
				height:57px;
				width:100%;
			}
	
			.menu-bar ul li:first-child {
				border-left:none;
			}
	
			.menu-bar ul li ul {
				width:100%;
				top:118px;
				left:0;
			}
	
/* -------- swipe container ------------- */
	
    .swiper-slide .letter-title,
	.swiper-slide .number-price {
		font-size:18px;	
    }

    .swiper-slide .number-price {
		position:absolute;
		bottom:30px;
		left:30px;
		z-index:1;	
    }	
	
/* ------------- slider ----------------- */	
	.slider {
		width:100%;
		margin-left:0;
	}
	
/* ----------- shopping cart --------------- */
	.column-50 {
	  width:100%;
	}

/* -------------- footer ------------------- */
		footer p a {
			font-size:18px !important;
		}
	
}

@media only screen and (min-width:980px) {
	
.side-menu {
	display:block !important;
}
	
		#menu-btn, #close-btn {
		display:none !important;
	}
	
}