/* CSS Responsive Version 1 */

/* @media Rule to 750px --- the device screen for mobile --- */
@media only screen 
and (max-width: 750px) {
/* ------------- footer ------------- */
		footer p a {
			font-size:15pt !important;
		}

	footer p img {
		height:2.65em !important;
		margin-top:-7px !important;
	}
	
}

@media only screen and (max-width:980px) {
/* ---------- top-nav-bar ---------- */
	.top-nav-bar {
		height:auto;
		border-bottom:0;
	}

/* ---------- search-box ---------- */	
		.search-box {
			width:100%;
			height:auto;
			position:relative;
		}
		
			.search-box p {
				margin:0 auto;
				position:absolute;
				top:30px;
				left:20px;
			}

			.search-box .dropbtn {
				width:100px;
				height:120px;
				background:url("../img/drop-down-nav_mobile.png") no-repeat center;
				cursor:pointer;
				border:none;
				float:right;
				display:block;			
			}

			.show {
				display:block !important;
			}

/* ---------- menu-bar ---------- */
		.menu-bar {
			width:100%;
			height:auto;
			display:none;
		}
		
			.menu-bar ul {
				margin:0;
				padding:0;
				width:100%;
				height:auto;
				position:static;
				display:block;
			}
		
				.menu-bar ul li {
					border-left:none;
					border-top:1px solid #fff;
					width:100%;
					height:auto;
					margin:0;
					padding:15px 0;
				}
		
					.menu-bar ul li a {
						padding:0;
					}
		
				.menu-bar ul li ul {
					width:100%;
					height:auto;
					background:#6a86bf;
					margin:0 0 15px 0;
					padding:0 0 15px 0;

				}

					.menu-bar ul li:hover ul {
						position:static;
						background:#6a86bf;
						box-shadow:none;
						margin:15px 0;				
					}

						.menu-bar ul li ul li {
							background:#fff;
							border-top:1px solid #6a86bf;
							padding:15px 0;
							margin:0;
						}

							.menu-bar ul li ul li a {
								color:#6a86bf;
							}
/* ---------- header ---------- */
	.header {
		padding-top:135px;
		padding-bottom:20px;
	}

/* ----------- scroll-section id ----------- */
.scroll-section-id {
	height:120px;
	float:none;
}

/* ---------- slider ---------- */	
	.slider {
		width:100%;
		margin-left:0;
	}

/* ------------- section / flip-box ------------- */
	.flip-box-front p span:first-child , 
	.flip-box-back p span:first-child {
		font-size:24px;
	}
	
	.flip-box-front p span:last-child , 
	.flip-box-back p span:last-child {
		font-size:14px;
	}

/* ------------- footer ------------- */
		footer .container {
			padding:4% 0;
		}

				footer p img {
					height:2.1em;
					margin-top:-8px;
				}
	
}

/* Mobile */
@media only screen
and (min-width: 980px) {
/* ------------- footer ------------- */
	footer p a {
		font-size:24pt;
	}	
}

@media only screen
and (max-width: 1365px) {
/* ------------- section / flip-box ------------- */
	#section {
		margin:0;
	
}


/* Turn off parallax scrolling for small devices... */
@media only screen and (max-device-width: 1366px) {
/* ------------- parallax ------------- */
	.parallax {
		background-attachment:scroll;
	}
}