@charset "utf-8";
/* CSS Document */

html {
  	scroll-behavior:smooth;
}

body {
	text-align:center;
	background:#f3f3f3;
	font-family:'Lucida Sans',sans-serif;
	margin:0;
	padding:0;
}

/* TOP */
#top {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
}

/* ----------- sticky-header --------------- */
	#top .sticky-header {
		background:grey;
		color:#ccc;
		margin:0 auto;
		width:100%;
		height:auto;
		padding:0;
		position:fixed;
		display:block;
		z-index:5;
	}

/* ----------- sticky-header logo --------------- */
		#top .sticky-header .logo {
			width:50%;
			height:150px;
			margin:0 auto;
			padding:0;
			float:left;
			display:table;
		}

			#top .sticky-header .logo p {
				font-size:48px;
				text-transform:uppercase;
				vertical-align:middle;
				display:table-cell;	
				margin:0;
				padding:0 0 0 40px;
				text-align:left;
			}

				#top .sticky-header .logo p a {
					text-decoration:none;
					color:#ccc;
				}

			#top .sticky-header .logo .dropbtn {
				display:none;
			}

/* ----------- sticky-header navigation --------------- */
		#top .sticky-header .navigation {
			width:50%;
			height:150px;
			margin:0 auto;
			padding:0;
			float:left;
		}
		
			#top .sticky-header .navigation ul {
				font-size:32px;
				color:#ccc;
				text-transform:uppercase;
				margin:50px 25px 0px 0;
				padding:0;
				float:right;
			}
			
				#top .sticky-header .navigation ul li {
					display:inline;	
					margin:0 5px;
					padding:0;
				}
				
					#top .sticky-header .navigation ul li a {
						text-decoration:none;
						color:#ccc;
					}

					#top .sticky-header .navigation ul li a:hover {
						color:#fff;
					}

	#top .wrapper {
		background:#f3f3f3;
		margin:0 100px;
		width:calc(100% - 200px);
		height:auto;
		overflow:hidden;
		padding:100px 0 0;
	}

		#top .wrapper .name-country-age {
			margin:50px 0;
			padding:0;
		}

			#top .wrapper .name-country-age input[type=text], select, button, p {
				width:100%;
				font:40px "Calibri", sans-serif;
				border:none;
				background:none;
				margin:10px auto;
				padding:0;
				text-transform:uppercase;
				display:inline-block;
				text-align:center;
			}

			#top .wrapper .name-country-age select, button {
				border:1px dotted;
			}

				#top .wrapper .name-country-age input[type=text], select {
					border-bottom:1px dotted;
				}

				#top .wrapper .name-country-age select {
					width:auto;
				}

			#top .wrapper .date-of-birth {
				margin:50px 0;
				padding:0;	
			}

		#top .wrapper .hidden-content {
			margin:50px 0;
			padding:0;
		}

			#top .wrapper .hidden-content .check-element {
				width:100%;
				height:auto;
				float:left;
				margin:0 0 20px;
			}

				#top .wrapper .hidden-content .check-element ul {
					font:40px "Calibri", sans-serif;
					border:none;
					background:none;
					margin:10px auto;
					padding:0;
					text-transform:uppercase;
					display:inline-block;
					width:100%;
					list-style-type:none;
				}

				#top .wrapper .hidden-content p input[type=checkbox] {
					height:30px;
					width:30px;
					margin:0 auto;
					padding:0;
				}

/* fixed class for angular paragraphs */
.ng-binding {
	display:block;
	width:100%;
}

/* ----------- footer --------------- */
	#top .footer {
		width:100%;
		height:150px;
		margin:0 auto;
		padding:0;
		float:left;
		background:grey;
		display:table;
	}

		#top .footer p {
			font-size:28px;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
			margin:0;
			padding:0 60px;
			vertical-align:middle;
			display:table-cell;
		}

			#top .footer p a {
				color:#fff;
				text-decoration:none;
			}