/* CSS Stylesheet Version 1 */

/* ---------- main ---------- */
body, html {
    height:100%;
    font-family:'Open Sans',sans-serif;
    color:#1a1a1a;
    text-align:justify;
    margin:0 auto;
    padding:0;
    scroll-behavior:smooth;
}
	
/* ---------- top-nav-bar ---------- */
	.top-nav-bar {
		width:100%;
		height:100px;
		top:0;
		position:fixed;
		background:#6a85be;
		z-index:2;
	}

/* ---------- search-box ---------- */	
		.search-box {
			width:20%;
			float:left;
			text-align:center;
			height:100px;
			display:table;
		}

			.search-box p {
				vertical-align:middle;
				display:table-cell;
			}

			.logo {
				width:auto;
				height:90px;
			}

			.search-box .dropbtn {
				display:none;
			}

/* ---------- menu-bar ---------- */	
		.menu-bar {
			width:80%;
			height:100px;
			float:left;
		}

			.menu-bar ul {
				display:inline-flex;
				float:right;
			}

				.menu-bar ul li {
					height:100px;
					list-style-type:none;
					text-align:center;
					background:#6a86bf;
					cursor:pointer;
					padding:35px 0;
				}

					.menu-bar ul li a {
						font-size:18px;
						font-weight:bold;
						color:#fff;
						text-decoration:none;
						text-transform:uppercase;
						padding:0 12px;
					}

					.menu-bar ul li ul {
						width:auto;
						display:none;
						z-index:10;
						top:100px;
					}

					.menu-bar ul li:hover ul {
						display:block;
						height:auto;
						margin:0;
						padding:0;
						position:fixed;
						background:#ececec;
					}

						.menu-bar ul li ul li {
							color:#212529;
							height:auto;
						}

							.menu-bar ul li ul li a {
								padding:0 30px;
							}

						.menu-bar ul li ul li:hover {
							color:#6a86bf;
						}

/* ---------- header ---------- */
	.header {
		padding:115px 0 0;
	}

/* ---------- slider ---------- */	
	.slider {
		width:100%;
		margin-top:-5px;
		margin-left:0;
		padding:0 10px;
	}

		.carousel {
			box-shadow:1px 1px 4px 1px rgba(0,0,0,0.5);
		}

			.carousel-indicators {
				z-index:1 !important;
			}

/* ---------- featured-categories ---------- */
	.featured-categories {
		margin:50px 0;
	}

		.featured-categories img {
			width:100%;
			padding:20px 0;
			transition:1s;
			cursor:pointer;
		}

		.featured-categories img:hover {
			transform:scale(1.1);
		}

/* ---------- title-box ---------- */		
		.title-box {
			background:#6a86bf;
			color:#fff;
			width:180px;
			padding:0 10px;
			height:40px;
			margin-bottom:30px;
			display:flex;
		}
	
			.title-box p {
				font-size:24px;
				text-transform:uppercase;
			}
		
				.title-box:after {
					content:'';
					border-bottom:40px solid #6a86bf;
					border-right:50px solid transparent;
					position:absolute;
					display:flex;
					margin-bottom:0;
					margin-left:170px;
				}

/* ------------- swipe container ------------- */
	.swiper-container {
		width:100%;
		height:100%;
	}

		.swiper-slide {
			text-align:center;
			font-size:18px;

			/* Center slide text vertically */
			display:-webkit-box;
			display:-ms-flexbox;
			display:-webkit-flex;
			display:flex;
			-webkit-box-pack:center;
			-ms-flex-pack:center;
			-webkit-justify-content:center;
			justify-content:center;
			-webkit-box-align:center;
			-ms-flex-align:center;
			-webkit-align-items:center;
			align-items:center;
		}

		.swiper-slide p {
			font-size:1.5rem;
			font-weight:500;
		}

		.swiper-slide .letter-title {
			color:#555;
			position:absolute;
			top:30px;
			left:30px;
			z-index:1;	
		}

/* ------------- parallax ------------- */
	.parallax {
		background-image:url("../img/img_nature_wide.jpg");
		height:auto; 
		background-attachment:fixed;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
	}

/* ------------- section / flip-box ------------- */
	#section1, #section2, #section3, #section4{
		height:500px;
		background:#a8bcd0;
		margin:8% 0;
	}

	.flip-box {
		background-color:transparent;
		width:50%;
		height:500px;
		float:left;
		font-size:24px;
	}

		.flip-box-inner {
			position:relative;
			width:100%;
			height:100%;
			text-align:center;
			transition:transform 0.8s;
			transform-style:preserve-3d;
		}

		.flip-box:hover .flip-box-inner {
			transform:rotateX(180deg);
			cursor:pointer;
		}

			.flip-box-front, .flip-box-back {
				position:absolute;
				width:100%;
				height:100%;
				-webkit-backface-visibility:hidden;
				backface-visibility:hidden;
				display:table;
			}

				.flip-box-front p, .flip-box-back p {
					vertical-align:middle;
					display:table-cell;
					text-transform:uppercase;
					margin:0 auto;
					padding:0 60px;
					text-align:left;
				}

					.flip-box-front p span:first-child , 
					.flip-box-back p span:first-child {
						font-size:36px;
						font-weight:bold;
						text-transform:uppercase;
						display:block;
						margin:-20px auto 20px;
						padding:0;
					}
					
					.flip-box-front p span:last-child , 
					.flip-box-back p span:last-child {
						font-size:18px;
						line-height:35px;
						margin:0 auto;
						padding:0;
					}

			.flip-box-front {
				background-color:#a8bcd0;
				color:black;
				display:table;
			}

			.flip-box-back {
				background-color:#6986bf;
				color:white;
				transform:rotateX(180deg);
				display:table;
			}	

/* ------------- footer ------------- */
	footer {
		background:#6a86bf;
		color:#fff;
		clear:both;
	}

		footer .container {
			padding:2% 0;
		}

		footer p {
			padding:0;
			text-transform:uppercase;
		}

			footer p a {
				color:#fff;
				font-size:24px;
				text-decoration:none; 
			}

			footer p a:hover {
				color:#fff;
				text-decoration:none; 
			}

				footer p img {
					height:1.75em;
					width:auto;
					padding:0.75rem 0;
					margin-top:-10px;
				}

		.datazul {
			padding-top:20px;
			margin-top:10px;
			margin-bottom:-80px;
			text-align:center;
			font-size:15px;
			padding-bottom:20px;
			text-transform:uppercase;
			font-weight:bold;
		}